body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.header--secondary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;    
    font-weight: 300;
    font-size: 42px;
}

.header--sub-header {
    font-weight: normal;

    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}


/* link call to action */
.link--cta { 
    color: aquamarine;
    font-size: 16px;
}


